@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
$highlight-color: #000;
a {
  color: #333;
  transition: all 0.3s ease;
  &:hover {
    color: rgb(48, 139, 212);
  }
}
html {
  font-family: "Questrial", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-size: 1.6rem;
  background-color: #fff;
  overflow-x: hidden;
}
.header {
  width: 100%;
  background-color: $highlight-color;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
  .header-container {
    max-width: 1280px;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
    .header-logo {
      a {
        img {
          width: 120px;
        }
      }
    }
    .nav-menu {
      .nav-menu-content {
        list-style: none;
        display: flex;
        flex-direction: row;
        .nav-menu-item {
          display: block;
          .nav-item-link {
            display: block;
            margin: 0 10px;
            color: #fff;
            font-weight: 600;
            &:hover {
              color: rgb(51, 136, 206);
            }
          }
          .nav-item-link.active {
            color: #fff;
            border-bottom: 2px solid #fff;
          }
        }
      }
    }
    .menu {
      width: 40px;
      height: 40px;
      line-height: 40px;
      z-index: 101;
      font-size: 3.5rem;
      cursor: pointer;
      text-align: center;
      display: none;
    }
  }
}
.sm-logo {
  display: none;
}
.overflow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
}
.bold{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.overflow.active {
  left: 240px;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.body-content {
  margin-top: 15px;
}
.white {
  color: #fff !important;
}
@media screen and (max-width: 768px) {
  .sm-logo {
    display: block;
    padding: 10px 5px 5px 10px;
    a {
      display: block;
      img {
        width: 110px;
        text-align: left;
      }
    }
  }
  .header {
    .header-container {
      .header-logo {
        a {
          img {
            width: 80px;
            height: 80px;
          }
        }
      }
      .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 240px;
        height: 100%;
        background-color: #161e2a;
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
        color: #fff;
        transform: translateX(-250px);
        transition: transform 0.3s ease;
        padding-top: 20px;
        z-index: 101;
        overflow: hidden;
        .nav-menu-content {
          flex-direction: column;
          .nav-menu-item {
            .nav-item-link {
              margin: 0 0;
              padding: 15px 5px 15px 10px;
              display: block;
              color: #fff;
              border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }
            &:last-child {
              .nav-item-link {
                border-bottom-color: transparent;
              }
            }
          }
        }
      }
      .menu {
        display: block;
        color: #fff;
        margin-right: 0px;
      }
    }
    .header-container.active {
      .nav-menu {
        transform: translateX(0);
      }
    }
  }
}
.align-center {
  align-items: center !important;
}
.img-holder {
  text-align: right;
}
.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
section.hero {
  background-color: #fff;
  padding: 70px 0;
  display: flex;
  align-items: center;
  min-height: 500px;
  flex: 1 1;
  color: #333;
  .hero-title {
    font-size: 2.5rem;
    .slogan {
      font-weight: 900;
      font-size: 5rem;
    }
  }
}
.bg-black{
  background-color: $highlight-color;
  padding: 30px 0;
  display: flex;
  align-items: center;
  min-height: 500px;
  flex: 1 1;
  color: #fff;
}
.center {
  text-align: center;
}
.space-empty {
  height: 30px;
}
.step {
  margin: 30px 0;
  .step-header {
    font-size: 2.4rem;
    color: $highlight-color;
    font-weight: 900;
    margin-bottom: 30px;
  }
  .step-description {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1.4;
  }
}
.box {
  padding: 54px 30px;
  background-color: #f8f8f8;
  border-radius: 50px;
  .box-item {
    display: flex;
    align-items: center;
    border: 0.88px dotted #fff;
    border-radius: 30px;
    background-color: #fff;
    padding: 25px 20px;
  }
}
.media {
  display: flex;
  .media-left {
    max-width: 122px;
    width: 100%;
    text-align: center;
    .social-btn {
      display: block;
      position: relative;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-color: $highlight-color;
      font-size: 4rem;
      line-height: 8rem;
      i {
        display: inline-block;
        color: #fff;
        vertical-align: middle;
      }
    }
    .logo-ref {
      display: inline-flex;
      position: relative;
      width: 88px;
      height: 88px;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
      }
      &:hover {
        img {
          transform: scale(1.3);
        }
      }
    }
    .text-ref {
      margin-top: 5px;
      display: block;
      font-size: 15px;
      display: flex;
      align-items: center;
      color: #a0a0a0;
      justify-content: center;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .media-right {
    flex: 1;
    display: flex;
    align-items: center;
    .media-content {
      padding: 0 33px;
      h2 {
        font-size: 2.2rem;
        margin-bottom: 10px;
        font-weight: 900;
      }
      p {
        font-size: 1.8rem;
        line-height: 1.4;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .media {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    .media-left {
      text-align: center;
      max-width: 100%;
    }
    .media-right {
      flex-direction: column;
      justify-content: center;
      .media-content {
        padding: 0px 0px;
      }
    }
    .media-btn {
      width: 100%;
      margin-top: 10px;
    }
  }
  section.hero{
    .hero-title{
      text-align: center;
      font-size: 3rem;
    }
  }
}
.btn-ref {
  padding: 15px 15px;
  line-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 190px;
  border-radius: 10px;
  font-size: 20px;
  background-color: $highlight-color;
  color: #fff;
  border: 4px solid $highlight-color;
  box-shadow: 4px 4px 10px #9c9c9c;
  text-transform: uppercase;
  font-weight: 900;
  &:hover {
    background-color: #fff;
    color: #333;
  }
}
.btn-ref.btn-lg {
  display: block;
  text-align: center;
}
.btn-ready {
  display: inline-block;
  margin-top: 10px;
  padding: 15px 15px;
  line-height: 30px;
  min-width: 190px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #fff;
  color: #333;
  &:hover {
    background-color: rgb(11, 89, 179);
    color: #fff;
  }
}
.btn-register {
  display: inline-block;
  margin-top: 10px;
  padding: 15px 15px;
  line-height: 30px;
  min-width: 190px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: rgb(11, 89, 179);
  color: #fff;
  text-align: center;
  border: 1px solid transparent;
  &:hover{
    background-color: #fff;
    color: #333;
    border: 1px solid rgb(11, 89, 179);
  }
}
@media screen and (max-width: 575px) {
  .btn-ref {
    width: 100%;
    display: block;
  }
}
.step-function {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
ul.suggest {
  list-style: none;
  font-size: 1.8rem;
  li {
    display: block;
    margin: 10px;
    i {
      margin-right: 10px;
      display: inline-block;
      font-size: 2.4rem;
      vertical-align: middle;
    }
  }
}
.box-payment {
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 11px;
  background-color: #fff;
  padding: 45px 0 24px;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  justify-content: space-between;
  height: 100%;
  position: relative;
  h2 {
    font-size: 2.8rem;
    font-weight: 900;
  }
}
.payment-p {
  color: $highlight-color;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}
.payment-image{
  text-align: center;
  margin-top: 20px;
}
.start {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 210, 0);
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  i {
    margin: 0 4px;
  }
}
.box-payment-des {
  font-weight: 600;
  padding: 14px 15px 0;
  margin-bottom: 20px;
  max-height: 300px;
  flex-grow: 1;
  .list {
    line-height: 1.4;
    li {
      margin: 5px 0;
      i {
        margin-right: 5px;
      }
    }
  }
}
.whyme{
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.box-devide{
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  .number{
    font-size: 4rem;
    padding-right: 10px;
  }
  .text{
    position: relative;
    font-size: 3rem;
    padding-left: 10px;
    &::before{
      content: '';
      position: absolute;
      width: 2px;
      height: 70px;
      background-color: #fff;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
@media screen and (max-width: 768px){
  .box-devide{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .text{
      &::before{
        display: none;
      }
    }
  }
}
// ================= footer ==================
.link-social {
  display: inline-block;
  font-size: 45px;
  margin-right: 20px;
  color: #ddd;
  &:last-child {
    margin-right: 0px;
  }
}
footer {
  width: 100%;
  margin-top: 40px;
  .footer-container {
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
    padding: 30px 10px;
    .footer-content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      width: 100%;
    }
  }
}
