@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: #333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #308bd4;
}

html {
  font-family: "Questrial", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 1.6rem;
  background-color: #fff;
  overflow-x: hidden;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  width: 100%;
  background-color: #000;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}

.header .header-container {
  max-width: 1280px;
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.7rem;
}

.header .header-container .header-logo a img {
  width: 100px;
}

.header .header-container .nav-menu .nav-menu-content {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .header-container .nav-menu .nav-menu-content .nav-menu-item {
  display: block;
}

.header .header-container .nav-menu .nav-menu-content .nav-menu-item .nav-item-link {
  display: block;
  margin: 0 10px;
  color: #fff;
  font-weight: 600;
}

.header .header-container .nav-menu .nav-menu-content .nav-menu-item .nav-item-link:hover {
  color: #3388ce;
}

.header .header-container .nav-menu .nav-menu-content .nav-menu-item .nav-item-link.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.header .header-container .menu {
  width: 40px;
  height: 40px;
  line-height: 40px;
  z-index: 101;
  font-size: 3.5rem;
  cursor: pointer;
  text-align: center;
  display: none;
}

.sm-logo {
  display: none;
}

.overflow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.overflow.active {
  left: 240px;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.body-content {
  width: 100%;
}

.white {
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .sm-logo {
    display: block;
    padding: 10px 5px 5px 10px;
  }
  .sm-logo a {
    display: block;
  }
  .sm-logo a img {
    width: 110px;
    text-align: left;
  }
  .header .header-container .header-logo a img {
    width: 80px;
    height: 80px;
  }
  .header .header-container .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: #161e2a;
    -webkit-box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    padding-top: 20px;
    z-index: 101;
    overflow: hidden;
  }
  .header .header-container .nav-menu .nav-menu-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header-container .nav-menu .nav-menu-content .nav-menu-item .nav-item-link {
    margin: 0 0;
    padding: 15px 5px 15px 10px;
    display: block;
    color: #fff;
  }
  .header .header-container .nav-menu .nav-menu-content .nav-menu-item .nav-item-link.active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header .header-container .nav-menu .nav-menu-content .nav-menu-item:last-child .nav-item-link {
    border-bottom-color: transparent;
  }
  .header .header-container .menu {
    display: block;
    color: #fff;
    margin-right: 0px;
  }
  .header .header-container.active .nav-menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.align-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.img-holder {
  text-align: right;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.container-sm {
  max-width: 920px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

section.hero {
  background: url("https://b.f1.photo.talk.zdn.vn/8679155166502402797/40b8f6e8e23915674c28.jpg") no-repeat center;
  background-position: 890px -280px;
  background-size: cover;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  color: #333;
}

section.hero .hero-title {
  font-size: 2.5rem;
}

section.hero .hero-title .slogan {
  font-weight: 900;
  font-size: 5rem;
}

@media screen and (max-width: 992px) {
  section.hero {
    background: #fff !important;
  }
}

.bg-black {
  background-color: #000;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  color: #fff;
}

.center {
  text-align: center;
}

.space-empty {
  height: 30px;
}

.step {
  margin: 30px 0;
}

.step .step-header {
  font-size: 2.4rem;
  color: #000;
  font-weight: 900;
  margin-bottom: 30px;
}

.step .step-description {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.4;
}

.box {
  padding: 54px 30px;
  background-color: #f8f8f8;
  border-radius: 50px;
}

.box .box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.88px dotted #fff;
  border-radius: 30px;
  background-color: #fff;
  padding: 25px 20px;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media .media-left {
  max-width: 122px;
  width: 100%;
  text-align: center;
}

.media .media-left .social-btn {
  display: block;
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #000;
  font-size: 4rem;
  line-height: 8rem;
}

.media .media-left .social-btn i {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
}

.media .media-left .logo-ref {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 88px;
  height: 88px;
  overflow: hidden;
  border-radius: 50%;
}

.media .media-left .logo-ref img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.media .media-left .logo-ref:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.media .media-left .text-ref {
  margin-top: 5px;
  display: block;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a0a0a0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media .media-left .text-ref:hover {
  text-decoration: underline;
}

.media .media-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media .media-right .media-content {
  padding: 0 33px;
}

.media .media-right .media-content h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  font-weight: 900;
}

.media .media-right .media-content p {
  font-size: 1.8rem;
  line-height: 1.4;
}

@media screen and (max-width: 768px) {
  .media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .media .media-left {
    text-align: center;
    max-width: 100%;
  }
  .media .media-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .media .media-right .media-content {
    padding: 0px 0px;
  }
  .media .media-btn {
    width: 100%;
    margin-top: 10px;
  }
  section.hero .hero-title {
    text-align: center;
    font-size: 3rem;
  }
}

.btn-ref {
  padding: 15px 15px;
  line-height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 190px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border: 4px solid #000;
  -webkit-box-shadow: 4px 4px 10px #9c9c9c;
          box-shadow: 4px 4px 10px #9c9c9c;
  text-transform: uppercase;
  font-weight: 900;
}

.btn-ref:hover {
  background-color: #fff;
  color: #333;
}

.btn-ref.btn-lg {
  display: block;
  text-align: center;
}

.btn-ready {
  display: inline-block;
  margin-top: 10px;
  padding: 15px 15px;
  line-height: 30px;
  min-width: 190px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #fff;
  color: #333;
}

.btn-ready:hover {
  background-color: #0b59b3;
  color: #fff;
}

.btn-register {
  display: inline-block;
  margin-top: 10px;
  padding: 15px 15px;
  line-height: 30px;
  min-width: 190px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #0b59b3;
  color: #fff;
  text-align: center;
  border: 1px solid transparent;
}

.btn-register:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #0b59b3;
}

@media screen and (max-width: 575px) {
  .btn-ref {
    width: 100%;
    display: block;
  }
}

.step-function {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

ul.suggest {
  list-style: none;
  font-size: 1.8rem;
}

ul.suggest li {
  display: block;
  margin: 10px;
}

ul.suggest li i {
  margin-right: 10px;
  display: inline-block;
  font-size: 2.4rem;
  vertical-align: middle;
}

.box-payment {
  border: 3px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  background-color: #fff;
  padding: 45px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  position: relative;
}

.box-payment h2 {
  font-size: 2.8rem;
  font-weight: 900;
}

.payment-p {
  color: #000;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.payment-image {
  text-align: center;
  margin-top: 20px;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffd200;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.start i {
  margin: 0 4px;
}

.box-payment-des {
  font-weight: 600;
  padding: 14px 15px 0;
  margin-bottom: 20px;
  max-height: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.box-payment-des .list {
  line-height: 1.4;
}

.box-payment-des .list li {
  margin: 5px 0;
}

.box-payment-des .list li i {
  margin-right: 5px;
}

.whyme {
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.box-devide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-devide .number {
  font-size: 4rem;
  padding-right: 10px;
}

.box-devide .text {
  position: relative;
  font-size: 3rem;
  padding-left: 10px;
}

.box-devide .text::before {
  content: '';
  position: absolute;
  width: 0.5px;
  height: 70px;
  background-color: #eee;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .box-devide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .box-devide .text::before {
    display: none;
  }
}

.service {
  margin-bottom: 15px;
}

.service-name {
  font-weight: 900;
  text-align: center;
  height: 55px;
}

.service-des {
  text-align: center;
  margin-bottom: 15px;
}

.large {
  font-size: 50px;
  margin-bottom: 10px;
}

.exclusice {
  max-width: 779px;
  width: 100%;
}

.features {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 30px;
  max-width: 650px;
  width: 100%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-link {
  min-width: 140px;
  display: inline-block;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.btn-link:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #000;
}

.join-now {
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 100px;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  min-width: 120px;
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  -webkit-box-shadow: 2px 5px 5px #777;
          box-shadow: 2px 5px 5px #777;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.join-now:hover {
  background-color: #333;
  color: #eee;
}

.link-social {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  font-size: 30px;
  margin-left: 20px;
  line-height: 50px;
  background-color: #333;
  color: #ddd;
}

.link-social i {
  display: inline-block;
  line-height: 50px;
}

.link-social:last-child {
  margin-right: 0px;
}

footer {
  width: 100%;
  margin-top: 40px;
}

footer .footer-container {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 1.6rem;
  padding: 30px 10px;
}

footer .footer-container .footer-content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  width: 100%;
}

.ul-footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.ul-footer-menu .ul-footer-menu-item {
  display: block;
}

.ul-footer-menu .ul-footer-menu-item a {
  color: #eee;
  padding: 0 15px;
}

.mr-b-15 {
  margin-bottom: 15px;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */